*{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}
h1{
    text-align: center;
}
label{
    display: block;
    float: left;
}
.tree{
    height: 800px;
}
fieldset{
    margin-left: 600px;
    width: 100px;
    height: 20rem;
    width: 30rem;
    margin-top: 20rem;
}
#llabel{
    margin-top: 6.5rem;
    margin-left: 12rem;
}
#lasttname{
    margin-top: 8rem;
    margin-left: 12rem;
}


#flabel{
    margin-top: 6.5rem;
}
#firstname{
    margin-top: 8rem;
}




#e{
    margin-top: 11rem;
    margin-left: 12rem;
}
#Em{
    margin-top: 12.5rem;
    margin-left: 12rem;
}
#plabel{
    margin-top: 11rem;
}
#phone{
    margin-top: 12.5rem;
}


#passlabel{
    margin-top: 15.5rem;
}
#pass{
    margin-top: 17rem;
}

#passconfirmlabel{
    margin-top: 15.5rem;
    margin-left: 12rem;
}
#passconfirm{
    margin-top: 17rem;
    margin-left: 12rem;
}
#submit{
    margin-top: 22rem;
}
#reset{
    margin-top: 22rem;
    margin-left: 8rem;
}
h2{
    text-align: center;
    margin-top: 30rem;
    margin-left: 35rem;
}
h1 { 
    margin-top: 10rem;
    white-space: nowrap; 
    margin-left: 38rem;
    font-size: 25px;
}

.picture{
    background-image: url(./tree.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    height: 55.4rem;
    margin-left: -10px;
    margin-top: -10px;
}
.logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 35px 0;

    justify-content: center;
    align-items: center;
}
.gg{
    height: 10vh;
    margin-top: -5vh;
    margin-left: 30vh;
}